{% extends 'base.html' %}

{% block content %}
<div class="form container">
    <div class="row">
        <form action="#" method="post">
            {% csrf_token %}
            <h1>Edit Student</h1>
            <input type="text" name="name" placeholder="Name" value="{{ student.name }}">
            <select name="branch" id="branch">
                <option value="">--Select Branch--</option>
                {% for branch in branches %}
                <option value="{{branch.name}}" {% if branch.name == student.branch.name %} selected {% endif %}>{{branch.name}}</option>
                {% endfor %}
            </select>
            <input type="number" name="semester" id="semester" placeholder="Semester" value="{{ student.semester }}">
            {% if success %}
            {{ success}}
            {% endif %}
            {% if error %}
            {{ error}}
            {% endif %}
            <button>Save</button>
        </form>
        <a href="{% url 'dashboard' %}">Back</a>
    </div>
</div>
{% endblock %}