{% extends 'base.html' %}

{% block content %}
<div class="login container">
    <div class="row">
        <div class="col">
            <img src="https://images.unsplash.com/photo-1568667256549-094345857637?q=80&w=2815&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="Library">
        </div>
        <div class="col d-flex">
            <h1>Register Student</h1>
            <form action="student_signup" method="post">
                {% csrf_token %}
                <input type="text" name="name" id="name" placeholder="Name"> <br>
                <input type="email" name="email" id="email" placeholder="Email"> <br>
                <input type="password" name="password" id="password" placeholder="Password">
                <select name="branch" id="branch" required>
                    <option value="">--Select Branch--</option>
                    {% for branch in branches %}
                    <option value="{{branch.name}}">{{branch.name}}</option>
                    {% endfor %}
                </select>
                <input type="number" name="semester" id="semester" placeholder="Semester">
                {% if error %}
                {{ error}}
                {% endif %}
                <button type="submit">Signup</button>
            </form>
            <a href="admin_signup">Admin Signup</a>
            <a href="login">Login</a>
        </div>
    </div>
</div>
{% endblock %}